body {
    background-color: black;
}

.myself {
    color: aliceblue;
       }
   
.classes {
   color: aliceblue;
       }
   
.movies {
   color:aliceblue;
       }

.picture {
    display:inline-block;
}

.moods-section__items{
    display: inline-block;
    width: 100%;
}

.moods-section__item{
    display: inline-block;
}

.moods-section__items > p{
    padding: 5px;
    font-weight: 500;
    color:aliceblue;
}



